<canvas #myCanvas style="border: 1px solid;" width="1500" height="750" id="canvas" ng-click="doClick($event)"></canvas>
<div><button (click)="refresh()">Clear Canvas</button>
    <div>
        <button (click)="extraSmall()">extra small</button>
        <button (click)="small()">small</button>
        <button (click)="medium()">medium</button>
        <button (click)="large()">large</button>
    </div>
    <div>
        <button (click)="green()">green</button>
        <button (click)="blue()">blue</button>
        <button (click)="red()">red</button>
        <button (click)="black()">black</button>
        <button (click)="grey()">grey</button>

    </div>
</div>