<div class="modal-header">
    <button class="btn-close" type="button"></button>
</div>
<div class="modal-body">
    <div class="card border-secondary">
        <div class="card-header h3 test-muted text-center">place holder roomkey</div>


        <div class="card-body">
            <!-- <app-messages [messages]="chatService.privateMessages"></app-messages> -->
            <div class="card-footer">
                <!-- <app-chat-input (contentEmitter)="sendMessage($event)"></app-chat-input> -->
            </div>
        </div>
    </div>