<div class="modal-header">
    <button class="btn-close" type="button"></button>
</div>
<div class="modal-body">
    <div class="card border-secondary">
        <div class="card-header h3 test-muted text-center">Room Code</div>


        <div class="card-body">
            <div class="text-center">
                <div class=" h1 py-8">{{chatService.GroupName}}</div>
                <button type="button" class="btn btn-primary text-center" (click)="copyRoomKey(chatService.GroupName)">
                    Copy to Clipboard
                </button>
            </div>

        </div>
    </div>