<footer class=" bg-body-tertiary text-center text-lg-start">
    <div class="mt-2 text-center p-3">
        <h6>Built by <a
                class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                href="https://snmln.com/#sampleWork" target="_blank">Sean Malone</a> Using <a
                class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                href="https://angular.io/" target="_blank">Angular 17, </a> bootstrap, .Net and Singal R</h6>

        <h6>{{currentYear}} Saen Malone. All Rights Reserved.</h6>
    </div>
</footer>